{
    margin: 0;
    padding: 0;
}

.logo{
    width:30%
    display: flex;
    justify-content: center;
    align-item: center;
}
.logo img{
    width:100%;
    border: 3px solid white;
    border-radius: 80px;
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;

}
.nav-list{
    width: 50%;
    display: flex;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 23px 34px;
} 

.nav-list li a{
    text-decoration:none ;
    color: black;
}

.nav-list li a:hover{
    text-decoration:none ;
    color: grey;
}

.rightNav{
    width: 50%;
    text-align: right;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 9px;

}

.background{
    background: rgba(0,0,0,0.8) url('img\ img1.jpg');
    background-size: cover;
    background-blend-mode: darken;

}

.firstsection{
        height: 100vh;
    
}

.box-main{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:'Times New Roman', Times, serif
    
}

.fristhalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Secondhalf{
    width: 30%;

}

.Secondhalf img{
    width: 70%;
    border: 4px solid white;
    border-radius: 250px;
    display: block;
    margin: auto

}

.text-big{
    font-size: 41px;

}

.text-small{
    font-size: 25px;

}


